@model Course
@{
    ViewData["Title"] = "Add";
    // SelectList deptOption = new SelectList(ViewBag.DepartmentList, "Id", "Name");
   

}

<h1>Add</h1>

<form method="post" asp-action="SaveAdd" asp-controller="Course">
    <div>
        <label asp-for="Name"></label>
        <input class="form form-control" asp-for="Name" />
    </div>
    <div>
        <label asp-for="Degree"></label>
        <input class="form form-control" asp-for="Degree" />
    </div>

    <div>
        <label asp-for="MinDegree"></label>
        <input class="form form-control" asp-for="MinDegree" />
    </div>
    <div>
        <label asp-for="Hours"></label>
        <input class="form form-control" asp-for="Hours" />
    </div>

    <div>
        <label asp-for="DeptId"></label>
        <select class="form-control" asp-for="DeptId" asp-items="ViewBag.DepartmentList">
            <option value="">-- Select Department --</option>
        </select>
    </div>

    <input  type="submit" value="Create" class="btn btn-success" />

</form>
<a asp-action="Index"> Back To List </a>
