@model Course
@{
    ViewData["Title"] = "Add";
    // SelectList deptOption = new SelectList(ViewBag.DepartmentList, "Id", "Name");
  

}

<h1>Add</h1>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-action="SaveAdd" asp-controller="Course">
    <div class="text-danger">

        <label asp-for="Name"></label>
        <input class="form form-control" asp-for="Name" />
         <span asp-validation-for="Name" class="text-danger"></span>

    </div>

    <div>
        <label asp-for="Degree"></label>
        <input class="form form-control" asp-for="Degree" />
        <span asp-validation-for="Degree" class="text-danger"></span>

    </div>

    <div>
        <label asp-for="MinDegree"></label>
        <input class="form form-control" asp-for="MinDegree" />
        <span asp-validation-for="MinDegree" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="Hours"></label>
        <input class="form form-control" asp-for="Hours" />
        <span asp-validation-for="Hours" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="DeptId"></label>
        <select class="form-control" asp-for="DeptId" asp-items="ViewBag.DepartmentList">
            <option value="">-- Select Department --</option>
        </select>
    </div>

    <input  type="submit" value="Create" class="btn btn-success" />

</form>
<a asp-action="Index"> Back To List </a>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
